---
layout: default
title: Tours
banner-image: greenbanner.jpeg
banner-title: Diamond Tours Bali
banner-subtitle: <span style="color:#beff9f"> &#9830; </span> Explore Bali <span style="color:#beff9f"> &#9830; </span>
---

<!-- Tours division -->
<section>
  {% for tour in site.tours%}
  <a href="{{tour.url}}" class="tour-card">
    <div class="grid-noGutter-reverse {{tour.theme}}">
      <ul class="grid-noGutter col-8_sm-12 photo-list">
        {% for photo in tour.photos limit: 3 %}
        <li class="col-4_xs-12">
          <!-- Tour Images -->
          <div class="tour-image" style="background-image:url('/images/tours/{{photo.image}}');"> </div>
        </li>
        {% endfor %}
      </ul>
      <div class="col-4_sm-12">
            <h2> {{tour.title}} </h2>
          <p> {{tour.description}} </p>
          <label class="button">
            Read More
          </label>
          <ul>
            {% for tag in tour.tags %}
              <li class="tags"> #{{tag}} </li>
            {% endfor %}
          </ul>
      </div>
    </div>
  </a>
  {% endfor %}
</section>

 {% include tourtext.html %} 

