<!DOCTYPE html>
<html>
 <head>
    <title> {{page.title}} </title>
    <!-- Page icon -->
    <link rel="icon" type="image/png" href="images/diamond.png"/>

    <!-- Gridlex stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">

    <!-- Magnific Popup stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
    
    <!-- CSS stylesheet -->
    <link rel="stylesheet" href="/styles/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>
 <body>
    <!-- Nav bar -->
   <header class="grid-center center nav-button">
      <nav class="col-middle_xs-hidden center">
         <a href="/about" class="navlink">
            About Us
         </a>
         <a href="/cars" class="navlink">
         Transportation
         </a>
      </nav>
      <!-- Home button -->
      <div class="col-middle_xs-hidden center">
         <a href="/" class="logo">
            <img src="images/diamond.png"/>
         </a>
      </div>
      <nav class="col-middle_xs-hidden center">
         <a href="/tourslist" class="navlink">
            Tours
         </a>
         <a href="/contact" class="navlink">
            Contact Us
         </a>
      </nav>
      
   </header>

    <!-- Mobile button -->
    <div class=" mobile-header grid-middle">
      <div class="hamburger col-6">
            <a href="/" class="logo">
               <img src="images/diamond.png"/>
            </a>
         </div>
         <div class="col-6 right">
            <a href="#" id="hamburger" class="hamburger">
               <div></div>
               <div></div>
               <div></div>
            </a>
         <nav class="mobile-nav">
            <a href="/about" class="navlink">
               About Us
            </a>
            <a href="/cars" class="navlink">
            Transportation
            </a>
            <a href="/tourslist" class="navlink">
               Tours
            </a>
            <a href="/contact" class="navlink">
               Contact Us
            </a>
         </nav>
         </div> 
      </div>

   <!-- Banner -->
   <section class="grid-center-noGutter banner" style="background-image:url('/images/{{ page.banner-image }}')">
      <div class="col-middle center">
         <div class="centered banner-text" >
            <h1>
               {{page.banner-title}}
            </h1>
            <h2>
               {{page.banner-subtitle}}
            </h2>
         </div>
      </div>
   </section>

   <!-- page content -->
   {{content}}

   <!-- Footer -->
   <footer class="grid-noGutter">
      <div class="col-5_sm-6">
         <h5>
            Diamond Tours Bali 2019
         </h5>
      </div>
      <div class="col-7_sm6 right">
         <a href="/about" class="footlink">
            About Us
         </a>
         <a href="/cars" class="footlink">
            Transportation
         </a>
         <a href="/tourslist" class="footlink">
            Tours
         </a>
         <a href="/contact" class="footlink">
            Contact Us
         </a>
      </div>
   </footer>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
   <!-- Magnific popup for gallery javascript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
   <!-- Typing JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.10/typed.min.js"></script>

   <script src="/scripts/main.js"></script>
 </body>
</html>