/* ------ INDEX --------------------
  - CSS RESET
  - GENERAL HELPER CLASSES
  - UNIVERSAL STYLES
    - Layout 
    - Typography
    - General Styles
  - HEADER & FOOTER
  - MODULAR ELEMENTS
    - Element Name
  - FORMS

---------------------------
Website Fonts: List fonts here for reference
Website Colours: List colour hex codes here for reference
----------------------------
*/

/* CSS RESET */
* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.carimage {
  min-height: 30vh;
  margin-top: 1rem;
}



/* ---- UNIVERSAL STYLES --------------------------- */
/* ---- Layout ---- */
section {
  padding: 1vh 7vw;
}

.padded {
  margin: 1rem 0;
}

.tour-card, .tour-card:hover {
  /* border: 1px solid #9FB980; */
  margin-bottom: 4rem;
  padding: 1rem;
  font-weight: 400;
  color: initial;
  display: block;
}

.tour-image {
  min-height: 40vh;
  background-position: center;
  background-size: cover;
  margin-top: 0.5rem;
  margin: 0 0.2rem;
}

@media (max-width: 576px) {
  .tour-image {
    display: none;
  }
  
  .tour-image:first-of-type {
    display: block;
  }
}

/* ----- Banner ----- */
.banner {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 40vh;
  display: flex;
}

.banner-text {
  background-color: #0000006e;
  border-radius: 8px;
  padding: 1rem;
  color: #FFFFFF;
}

.block {
  border-bottom: 0.05rem solid #799367;
  padding: 0 1rem;
}

.blockdash {
  border-bottom: 0.05rem dashed #799367;
}

.dark {
  background-color: #f5f5f5;
}

/* For Small Screens */
@media (max-width: 48em) {
  section {
    padding: 0;
    margin: 0;
  }

  .centerbanner {
    max-height: 20vh;
  }
  .photo-gallery {
    column-count: 1;
  }

  img {
    margin-top: 1rem;
  }
}

.pricecard {
  padding: 1rem;
  border: 1px solid rgb(151, 212, 107);
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 12px 20px 5px rgba(0,0,0,.2), 0 10px 10px -5px rgba(0,0,0,.2);  
}
.pricename {
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  color: #787878;
}
.price {
  font-size: 1.5rem;
  font-weight: 300;
  color: #464646;
}

/* ---- Typography ---- */
body {
  color: rgb(60,60,60);
  padding-top: 3rem;
}  

h1,h2,h3,h4,h5,h6 {
  line-height: 1.2;
  letter-spacing: -0.03em;
  margin: 0.3rem 0;
}

h1 {  font-size: 2.5rem; }
h2 {  font-size: 1.8rem; }
h3 {  font-size: 1.5rem; }
h4 {  font-size: 1.2rem; }
h5 {  font-size: 1rem; }
h6 {  font-size: 0.8rem; }

p, li {
  line-height: 1.8;
  margin: 1rem 0;
}

.photo-list {
  list-style: none;
}

.padded h5 {
  font-weight: 500;
}

.padded h2 {
  margin: 1rem 0 2rem 0;
}

.logo {
  max-width: 2rem;
  display: inline-block;
}

.icon {
  max-width: 1.4rem;
  margin: 0 0.2rem;
}

.quote-icon {
  font-size: 6rem;
  line-height: 1;
  padding-right: 2rem;
  font-family: cursive; 
}

/* Typing animation */
.typing, .typing h2 {
  font-weight: 600;
  text-align: center;
  padding: 2rem 0;
}

#typed {color: teal;}
#typed .seafoam {color: #72BDA3;}
#typed .tealblue {color: #5B97AC;}
#typed .pink {color: #E8B650;}

@media (max-width: 576px) {
  .photo-list li {
    display: none;
  }

  .photo-list li:first-of-type {
    display: block;
  }
}

.tour-card p {
  margin: 1rem 0 0.5rem 0;
}

.tags {
  display: inline-block;
  line-height: 1;
  letter-spacing: 0.3px;
  color: #476B2E;
  border: 1px solid #447766;
  border-radius: 3px;
  padding: 0.3rem;
  margin: 0 0.25rem 0.25rem 0;
}

a h2 {
  margin: 0;
  padding: 0;
}

.text p {
  margin: 0.5rem 0;
}

/*------ List and bullets ------*/
ul {
  margin-left: 1.5rem;
}

.tour-card ul {
  margin: 0.5rem 0 0 0;
}

.nobullets, .nobullets li:before {
  list-style: none;
  content: '✓  ';
}

/*-------- Links & Buttons ------------*/
a {
  text-decoration: none;
  color: rgb(0, 128, 17);
  font-weight: 600;
}

a:hover {
  color: #6CC551;
  transition: all 1s;
}

a.navlink {
  font-weight: 400;
  padding: 0 1rem;
  text-align: right;
}

.button {
  display: inline-block;
  text-decoration: none;
  color: rgb(96, 143, 62);
  border: 2px solid;
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  margin: 0.5rem 0;
  cursor: pointer;
}

.bigbutton{
  display: inline-block;
  text-decoration: none;
  color: #476B2E;
  border: 2px solid;
  width: 100%;
  text-align: center;
  margin: 2rem 0;
  text-transform: uppercase;
  padding: 1rem;
  font-size: 1.2rem;
}


/*---------- Classes -----------*/
.diamond {
  max-height: 15%;
  max-width: auto;
  color:#beff9f;
}
.center {
  align-content: center;
  text-align: center;
  margin-bottom: 1px;
  padding:0;
}

.right {
  text-align: right;
  padding: 0;
  margin: 0;
}

.photo-gallery {
  padding-top: 1rem;
  column-count: 3;
  column-gap: 1rem;
}

.photo-gallery .item img {
  display: inline-block;
  margin-bottom: 0.5rem;
  width:100%;
}

.bg-image {
  background-size: cover;
  background-position: center;
}

.bg-fixed {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

/* ---------- HEADER & FOOTER --------- */
header {
  padding: 0;
  position: fixed;
  top:0;
  left:0;
  right:0;
  background-color: rgba(250, 250, 250, 0.705);
}

.mobile-header {
  padding: 0 1rem;
  position: fixed;
  display: none;
  top:0;
  left:0;
  right:0;
  background-color: rgba(250, 250, 250, 0.705);
}

.mobile-header .col-6 {
  padding:0;
}


.hamburger {
  display: none;
  border: none;
  padding: 1rem;
}

.hamburger h1 a {
    font-size: 2rem;
    line-height: 1;
}


@media (max-width: 576px) {
  body {
    padding-top: 4rem;
  }
  .mobile-header {
    display: flex;
  }

  .hamburger {
    display: inline-block;
    padding: 0.75rem;
  }
}

.hamburger div {
  border: 2px solid #687F4B;
  border-radius: 4px;
  margin: 5px 0;
  width: 2rem;
}

.hamburger:hover div {
  border-color: #beff9f;
}

.mobile-nav {
  display: none;
}

.mobile-nav a {
  display: block;
  line-height: 1.5;
}

footer {
  background-color: rgb(0, 49, 33);
  padding: 5px;
}

footer h5 {
  color: #9FB980;
}

.footlink {
  display: inline-block;   
  padding: 1rem 0.5rem; 
}

footer a:link {
  text-decoration: none;
  color: #9FB980;
  font-weight: 100;
}

footer a:hover {
  color: #d3e4ff;
  transition: all 1s;
}

html {
  scroll-behavior: smooth;
}
